.Login .container {
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login p {
    padding: 15px 0;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loginBtn {
    background-color: #DB4444 !important;
    color: white !important;
    border-radius: 3px !important;
    border: none !important;
    cursor: pointer;
}

.login form a {
    text-align: center;
}

.forgot-password {
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}

.forgot-password:hover {
    color: #DB4444;
}