

.categories {
    padding: 40px 0;
    background: #f4f6f8;
    min-height: 100vh;
  }
  
  .categories .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
  }
  
  .categories h1 {
    font-size: 2.2rem;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
    font-weight: 700;

    display: inline-block;
    padding-bottom: 10px;
  }
  
  .categories .container    .prodactCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
  }
  