.SignUp .container {
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addAcaunt-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form .addAccauntBtn {
    background-color: #DB4444;
    color: white;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.login-link {
    text-align: center;
}

.login-link a span {
    cursor: pointer;
    font-weight: 600;
}